.env*
!.env.safe
!.env.template
!.dev.vars.template

logs
*.log

.cache
.eslintcache
*.tsbuildinfo

*.DS_Store

dist
dist-package
public
tmp

// Misc
.certs
.output
.db
.db.sqlite3
local.db

// Uploaded files
uploads/
cmd/twitch-overlay/uploads/

