@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: transparent;
}

@keyframes fax-image-scroll {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}